/*Primary brand colour: #4D5AE5
Active main-button color: #404BBF 
Dark colour: #2E2F42
Success action colour: #31D0AA
Main text colour: #434455
Subtle text: #8E8F99
Accent colour: #E7E9FC
Light text/background colour: #E7E9FC */

:root {
    --Primary-brand-colour: #4D5AE5;
    --Active-main-button-colour: #404BBF;
    --second-button-bgc: #F4F4FD;
    --Dark-colour: #2E2F42;
    --Success-action-colour: #31D0AA;
    --Main-text-colour: #434455;
    --Subtle-text: #8E8F99;
    --Accent-colour: #E7E9FC;
    --Light-text-background-colour: #E7E9FC;
    --Main-white-color: #FFFFFF;
}

body { 
    color: var(--Main);
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

 /*buttons*/
 /*Main-button*/
 .main-button {
    letter-spacing: 0.04em;
    font-weight: bolder;
    background-color: var(--Primary-brand-colour);
    color: var(--Main-white-color);
    width: 169px;
    height: 56px;
}

.main-button:active
 {
    background-color: var(--Active-main-button-colour);
    color: var(--Main-white-color);
}

/*Second button*/
.second-button {
    letter-spacing: 0.02em;
    font-weight: bolder;
    background-color: var(--second-button-bgc);
    color: var(--Primary-brand-colour);
    border: none;
    width: 126px;
    height: 48px;
}

 .second-button:active {
    background-color: var(--Primary-brand-colour);
    color: var(--second-button-bgc);
 }

 .title {
    font-weight: 600;
    font-size: 56px;
    line-height: 60px;
    color: var(--Dark-colour);
    letter-spacing: 0.02em;
}

.secondtitle {
    font-weight: 600;
    font-size: 36px;
    color: var(--Dark-colour);
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.thirdtitle {
    font-weight: 600;
    font-size: 20px;
    color: var(--Dark-colour);
    line-height: 24px;
    letter-spacing: 0.02em;
}

.list {
    list-style-type: none;
}

/*Header*/
/*Logo header*/
.logo-start {
    color: var(--Main-text-colour);
}
.logo-finish {
    color: var(--Primary-brand-colour);
}
/*Navigation*/
.nav .nav-title {
    font-weight: 500;
    size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-style: normal;
    color: var(--Dark-colour);
    text-decoration: none;
}

.nav .nav-title:hover,
.nav .nav-title:focus {
    color: var(--Main-text-colour);
}

.nav .nav-title:active {
    color: var(--Primary-brand-colour);
}

.list .nav-title {
    text-decoration: none;
}

/*Contacts*/
a.contact {
    color: var(--Main-text-colour);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
}
a.contact:hover {
    color: var(--Primary-brand-colour);
}

/*Main page*/
/*Hero section*/
.hero .hero-heading {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--Subtle-text);
    border-color: #2E2F42; /*I'll change this color */
}

#rectangle {
    width: 1440px;
    height: 600px;
    background-color: var(--Dark-colour)
}

/*Footer text*/
.logo>.text {
    color: var(--Accent-colour);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
